# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env

# Virtual environments
venv/
ENV/
env/
.venv/


# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Model files
model-service/model.h5

# OS files
.DS_Store
Thumbs.db
